    #main {
            transition: margin-left .5s;
            padding: 16px;
            background-image: url("../../assets/illustrations/01-mask-man/mask-man.svg");
            background-repeat: no-repeat;
            background-size: 400px;
            background-position-x: center;
            background-position-y: center;
        }

        .carousel-control-next {
            right: 90px;
        }

        .carousel-control-prev {
            left: 90px;
        }

        .table-heading {
            font-size: xx-large;
            font-weight: 1000;
        }

        .table {
            width: 400px;
            box-shadow: 8px 8px rgb(77, 75, 75);
        }

        .my-flex {
            display: flex;
            justify-content: space-evenly;
        }

        .search {
            margin-top: 80px;
            margin-left: 150px;
        }

        .list-group {
            width: 400px;
            margin: 0 auto;
        }

        .details {
            border: 1px solid grey;
            border-radius: 10px;
            box-shadow: 5px 6px grey;
            width: 500px;
            margin: 50px;
            background-color: #f1f1f1;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }