.whenActive{
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    font-weight: 1000;
}

nav{
    background-image: url("../assets/img.gif");
}

footer{
    background-image: url("../assets/img.gif");
    height: 350px;
}

.inside-footer{
    color: white;
}

.bg-gray-200{
    background-image: url("../assets/img.gif");
}

.w-64{
    width: 8rem;
}