<br><br><br>
<div class="main">
  <div class="heading">
    <p>HEALTH CARE & FITNESS</p>
  </div>

  <div class="grid-container">
    <div class="column">
      <p class="column-heading">WASH HANDS</p>
      <p class="column-content">It is very very important to wash your hands
        every 30 minutes with soap and water or an alcohol based sanitizer.<br>
      </p>
      <img src="../../assets/corona-health/Hand Wash 400.jpg">
    </div>


    <div class="column">
      <p class="column-heading">GARGLE</p>
      <p class="column-content"> Gargle regularly with lukewarm water with
        turmeric and salt: Boil ¼ glass of
        water with turmeric and salt and then top up the glass with water.<br>
      </p>
      <img src="../../assets/corona-health/gargle 400.jpg">

    </div>


    <div class="column">
      <p class="column-heading">VITAMIN C</p>
      <p class="column-content"> If you cannot get enough natural sources,
        take a vitamin C tablet regularly Vitamins not only help in repairing
        worn out tissues and building immunity.<br>
      </p>
      <img src="../../assets/corona-health/vitc.jpg">
    </div>


    <div class="column">
      <p class="column-heading">SPECIAL TEAS </p>
      <p class="column-content">Make a concoction with turmeric milk/giloy water/
        black pepper-ginger and tulsi tea
        and have it every morning. This is actually good for the entire family.
        <br>
      </p>
      <img src="../../assets/corona-health/turmeric milk.jpg">
    </div>


    <div class="column">
      <p class="column-heading">EXERCISE</p>
      <p class="column-content">
        Practice proper exercise or pranayama – specifically breathing exercises like –
        Bharastika, Anulom Vilom Pranayama, savasana,
        Kapalbhati Pranayama, Nadi Shodhan Pranayama. <br>
      </p>
      <img src="../../assets/corona-health/exercise 400.jpg">
    </div>



    <div class="column">
      <p class="column-heading">BALANCED DIET</p>
      <p class="column-content">
        Have proper balanced meals at regular intervals,
        and try adding garlic-ginger-chilli paste to the meal.
        Vitamins not only help in repairing worn out tissues and building immunity. <br>
      </p>
      <img src="../../assets/corona-health/balanced diet 400.jpg">
    </div>


    <div class="column">
      <p class="column-heading">MAGNESIUM INTAKE</p>
      <p class="column-content">
        Step up Magnesium intake: this helps in keeping your heart healthy,
        maintaining your immune system and bone health.
        Mainly found in whole grains, nuts, fresh fruit, and vegetables. <br>
      </p>
      <img src="../../assets/corona-health/magnesium 400.jpg">
    </div>


    <div class="column">
      <p class="column-heading">PROTEIN INTAKE</p>
      <p class="column-content">
        Traditional Indian sattu (jaw or chana powder)
        buttermilk/water is a great source of protein,
        and also a probiotic. <br>
      </p>
      <img src="../../assets/corona-health/lassi 400.jpg">
    </div>


    <div class="column">
      <p class="column-heading"> FRUITS AND VEGETABLES</p>
      <p class="column-content">
        Increase the intake of citrus fruits or vegetables with high vitamin C content:
        oranges/ amla/ strawberries / sweet lime/ spinach. <br>
      </p>
      <img src="../../assets/corona-health/fruit 400.jpg">
    </div>


    <div class="column">
      <p class="column-heading">STAY HYDRATED</p>
      <p class="column-content">
        Stay Hydrated
        Drink up to 8-10 glasses of water every day, to stay hydrated.
        Hydration will help flush out the toxins from the body and lower the chances of flu.
        Other alternatives include juices made of citrus fruits and coconut water,
        to beat the heat.
      </p>
      <img src="../../assets/corona-health/water 400.jpg">
    </div>

    <div class="column">
      <p class="column-heading">CONSUME SOFT EATABLES</p>
      <p class="column-content">
        To aid chewing and digestion, you could consider
        thick soups, pureed vegetables, powdered seedsand nuts, thick dal vegetable khichdi,
        scrambled eggs, soft fruits, stewed fruits or custard, bone broth and vegetable stews etc.
      </p>
      <img src="../../assets/corona-health/soft 400.jpg">
    </div>

    <div class="column">
      <p class="column-heading">DONT COMPROMISE ON SLEEP</p>
      <p class="column-content">
        Good snooze time for 7-8 hours is the best way to help your
        body build immunity; lesser sleep will leave you tired and
        impair your brain activity.
        The lack of sleep will prevent the body from resting and this will impair other
        bodily functions that will have a direct impact on your immunity. <br>
      </p>
      <img src="../../assets/corona-health/sleeping.jpg">
    </div>

  </div>