
    .chart--container {
      min-height: 530px;
      width: 95%;
      height: 750px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      padding-left: 80px;
      padding-right: 80px;
      margin-top: -80px;
    }

    .zc-ref {
      display: none;
    }

    h1 {
      text-align: center;
    }

    .card{
      position: absolute;
      left: 80px;
      top: 150px;
      z-index: 10;
      box-shadow: 7px 5px grey;
    }

    .flag{
      z-index: 10;
      position: absolute;
      right: 50px;
      top: 250px;
    }

    img{
      /* height: 600px; */
      width: 300px;
    }

    .heading{
      top: 50px;
    }

    .search {
      margin-top: 40px;
      margin-left: 150px;
      display: flex;
      justify-content: space-evenly;
    }

      .list-group {
        width: 400px;
        margin: 0 auto;
      }

      .details{
        /* border: 1px solid grey; */
        border-radius: 10px;
        box-shadow: 5px 6px grey;
        width: 500px;
        margin: 50px;
        background-color: #f1f1f1;
      }