<div id="main">
    
    <!-- Extra -->
    <div id="extra">
        <div>
            <div class="row no-collapse-1 ">
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/NorthAmerica.svg" alt=""></a>
                    <div class="box flex flex-wrap -m-2 text-center">
                        <h1 class="display-3 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/SouthAmerica.png" alt=""></a>
                    <div class="box flex flex-wrap -m-2 text-center">
                        <h1 class="display-3 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/Europe.svg" alt=""></a>
                    <div class="box flex flex-wrap -m-2 text-center" style="margin-top: 80px;">
                        <h1 class="display-3 mx-10 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row no-collapse-1">
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/asia.png" alt=""></a>
                    <div class="box flex flex-wrap -m-4 text-center"  style="margin-top: 80px;">
                        <h1 class="display-3 mx-10 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/Africa.png" alt=""></a>
                    <div class="box flex flex-wrap -m-4 text-center"  style="margin-top: 80px;">
                        <h1 class="display-3 mx-10 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="a4u"> <a href="#" class="image featured"><img src="../../assets/continent-stats/Australia.png" alt=""></a>
                    <div class="box flex flex-wrap -m-4 text-center">
                        <h1 class="display-3 continent-name"></h1>
                        <div class="myflex">
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-hospital-user"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 confirmed"></h2>
                                    <p class="leading-relaxed">Confirmed</p>
                                </div>
                            </div>
                            <div class="p-4 md:w-1/2 sm:w-1/1 w-full">
                                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                                    <h1 class="fas fa-skull-crossbones"></h1>
                                    <h2 class="title-font font-medium text-3xl text-gray-900 Death"></h2>
                                    <p class="leading-relaxed">Death</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>