
#main {
    transition: margin-left .5s;
    padding: 16px;
}

.carousel-control-next {
    right: 200px;
}

.carousel-control-prev {
    left: 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}