body{
    padding-left: 20%;
}
div{
    width: 700px;
     
    text-align: center;
    height: 100%;
    background-color: cornflowerblue;
}
/* div h1{
    
} */
.questions h2{
    background-color: crimson;
    
}
.questions  div{
    text-align: justify;
    padding-left: 150px;
    width: auto;
     
}