<body>
   <div class="main">
    <h1 class="heading">Please give correct answers...</h1>
    <p>Accurate answers help us - help you better. Medical and support staff are valuable and very limited. Be a
        responsible citizen.</p>
    ---------------------------------------------------------------------------------------------------------
    <br>
    <p>Please note that information from these questions will be used for monitoring & management of the current health
        crisis and research in the fight against COVID-19.</p>
     
    <div  class="questions">
            <div>
                <h3>Are you experiencing any of the following symptoms?</h3>
                <ul class="checkbox-items">
                      <li *ngFor="let item of checkboxesDataList">
                          <input type="checkbox" name="" id="" [disabled]="symptomnoa" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                      </li>
                      <li *ngFor="let item of checkboxesDataList11">
                        <input type="checkbox" name="symptomnoa" [(ngModel)]="symptomnoa" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                    </li>
                </ul>
            </div>
       
    </div>

    <div class="questions">
          <div  >
                  <h3>Have you ever had any of the following:</h3>
                  <ul class="checkbox-items">
                     
                    <li *ngFor="let item of checkboxesDataList2">
                        <input type="checkbox" name="" id="" [disabled]="diseasenoa" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                    </li>
                    <li *ngFor="let item of checkboxesDataList21">
                        <input type="checkbox" name="diseasenoa" id="" [(ngModel)]="diseasenoa" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                    </li>
                  </ul>
          </div>
  
          
    </div>

    <div  class="questions">
          <div  >
                  <h3>Have you traveled anywhere internationally in the last 28-45 days?</h3>
                  <ul class="checkbox-items">
                    <li *ngFor="let item of checkboxesDataList31">
                        <input type="checkbox" name="" id="" [disabled]="traveledchk" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                      </li>
                      <li *ngFor="let item of checkboxesDataList30">
                        <input type="checkbox" name="traveledchk" id="" [(ngModel)]="traveledchk" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                      </li>
                      
                  </ul>
          </div>
   
    </div>
 
    <div  class="questions" *ngIf="traveledchk">
          <div  >
                <h3> Which of the following apply to you?</h3>
                <ul class="checkbox-items">
                    <li *ngFor="let item of checkboxesDataList40">
                      <input type="checkbox" name="applychk" [(ngModel)]="applychk" id=""   [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}

                    </li>
                    <li *ngFor="let item of checkboxesDataList41">
                        <input type="checkbox"  [disabled]="applychk" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                        
                      </li>
                </ul>
          </div>
           
    </div>  

    <div  class="questions"  >
        <div  *ngIf="applychk">
              <h3>When did this interaction take place?</h3>
              <ul class="checkbox-items">
                  <li *ngFor="let item of checkboxesDataList50">
                    <input type="checkbox" name="" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
                  </li>
              </ul>
        </div>
        
  </div>  

    <button type="submit"  (click)="test()">Test</button>
</div>
</body>  
 