body{
    padding-left: 25%;
    padding-top: 6%;
    padding-bottom: 2%;
}
.main{
    width: 700px;
    text-align: center;
    height: 100%;
    background-color: rgb(0, 255, 221);
    box-shadow: 10px 10px 5px ;
}
.heading{
    font-family: serif;
    text-decoration: underline;
     
} 
.questions h3{
    width: 670px;
    background-color: rgb(240, 62, 101);
    box-shadow: 7px 7px 4px black;
    
}
.questions  ul li{
    text-align: justify;
    padding-left: 50px;
    width: auto;
    font-style: italic;
    font-weight: 500; 
     
}
button{
    border-radius: 20px;
    background-color: black;
    color: blanchedalmond;
    width: 80px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 15px;
}
