body{
    padding-left: 25%;
}
div{
    width: 700px;
    text-align: center;
    height: 100%;
    background-color: cornflowerblue;
}
/* div h1{
    
} */
.questions h3{
    background-color: crimson;
    
}
.questions  div{
    text-align: justify;
    padding-left: 150px;
    width: auto;
     
}
button{
    border-radius: 20px;
    background-color: black;
    color: blanchedalmond;
    width: 80px;
    height: 40px;
    font-size: 20px;
}
